.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 19px;
    }
    
    
.nome {
    border-style: solid;
}

.profissao {
    border-style: solid;
}

.xp {
    border-style: solid;
}

.lugares {
    border-style: solid;
}

.caminhoes {
    border-style: solid;
}

.familia {
    border-style: solid;
}

.contato {
    border-style: solid;
}
